.nav-link{
	color: aliceblue;
	font-size: 25px;

}
img{
	height: 300px;
	width: 200px;
}
canvas{
	height: 300px;
	width:200px;
}
th{
	padding: 15px;
	text-align: center;
}
td{
	padding: 15px;
	width: auto;
	text-align: center;
	width: 18%;
}
tr{
	width: 100%;
	color: aliceblue;
}
body{
	background-color: darkcyan;
}
a{
	color: #ff944d;
}
@media screen and (max-width: 995px){
	.form-inline{
		display: block;
	}
	.form-inline label{
		justify-content: flex-start;
	}
}
#contentBody{
	height: 100%;
	width: 100%;
	margin: 0;
	max-width: none;
}
#contentTable{
	width: 100%;	
}